PORT = 3000
MAILER_SERVICE=gmail
MAILER_EMAIL = 
MAILER_SECRET_KEY = 

PROD = false

MONGO_URL=mongodb://Reggie:12345@localhost:27017/
MONGO_DB_NAME=node-noc
MONGO_USER=Reggie
MONGO_PASSWORD=123456

POSTGRES_URL="postgresql://Reggie:12345@localhost:5432/NOC"
POSTGRES_USER=Reggie
POSTGRES_PASSWORD=12345
POSTGRES_DB=NOC